.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 3rem;
    height: 54rem;
}

@media only screen and (max-width: 56.25em) {
    .container {
        margin-right: 0rem;
        background-color: #050919;
    }
}

@media only screen and (max-width: 37.5em) {
    .container {
        background-color: #1e2337;
    }
}
