.dataGrid {
    margin-top: 1.6rem;
}

@media only screen and (max-width: 37.5em) {

    .ag-theme-balham {
        margin-left: 18rem;
        width: 44rem !important;
        height: 87rem !important;
        margin-bottom: 4rem;
    }
}